<div class="container d-flex flex-row bg-white p-3 mb-3">
  {{#if checkedUser.image}}
  <img src="{{checkedUser.image}}" class="rounded" width="250" alt="it is a user photo">
  {{else}}
  <div class="bg-dark text-light p-2 d-flex justify-content-center align-items-center">
    <i>please upload a profile photo</i>
  </div>
  {{/if}}
  <div class="mx-3">
    <h1>{{checkedUser.name}}</h1>
    <p>{{checkedUser.email}}</p>
    <a href="/users/{{checkedUser.id}}/edit" class="btn btn-primary">edit</a>
  </div>
</div>
<div class="row">
  <div class="col-4">
    <div class="card my-2">
      <div class="card-header fw-bold">
        <span class='me-2'>{{#if followings}}{{followings.length}}{{else}}0{{/if}}</span>followings (追蹤者)
      </div>
      {{#if followings}}
      <div class="card-body d-flex flex-row flex-wrap justify-content-start align-items-center">
        {{#each followings}}
        <a href="/users/{{this.id}}">
          <img src="{{#if this.image}}{{this.image}}{{else}}https://via.placeholder.com/90.png?text={{this.name}}{{/if}}" class="rounded m-2" width="90" alt="it is a photo for user: {{this.name}}" />
        </a>
        {{/each}}
      </div>
      {{/if}}
    </div>
    <div class="card my-2">
      <div class="card-header fw-bold">
        <span class='me-2'>{{#if followers}}{{followers.length}}{{else}}0{{/if}}</span>followers (追隨者)
      </div>
      {{#if followers}}
      <div class="card-body d-flex flex-row flex-wrap justify-content-start align-items-center">
        {{#each followers}}
        <a href="/users/{{this.id}}">
          <img src="{{#if this.image}}{{this.image}}{{else}}https://via.placeholder.com/90.png?text={{this.name}}{{/if}}" class="rounded m-2" width="90" alt="it is a photo for user: {{this.name}}" />
        </a>
        {{/each}}
      </div>
      {{/if}}
    </div>
  </div>
  <div class="col-8">
    <div class="card my-2">
      <div class="card-header fw-bold">
        <span class='me-2'>{{#if restaurants}}{{restaurants.length}}{{else}}0{{/if}}</span>已評論餐廳
      </div>
      {{#if restaurants}}
      <div class="card-body d-flex flex-row flex-wrap justify-content-start align-items-center">
        {{#each restaurants}}
        <a href="/restaurants/{{this.id}}">
          <img src="{{this.image}}" class="rounded m-2" width="90" alt="it is a photo for restaurant {{this.name}}" />
        </a>
        {{/each}}
      </div>
      {{/if}}
    </div>
    <div class="card my-2">
      <div class="card-header fw-bold">
        <span class='me-2'>{{#if favoritedRestaurants}}{{favoritedRestaurants.length}}{{else}}0{{/if}}</span>收藏的餐廳
      </div>
      {{#if favoritedRestaurants}}
      <div class="card-body d-flex flex-row flex-wrap justify-content-start align-items-center">
        {{#each favoritedRestaurants}}
        <a href="/restaurants/{{this.id}}">
          <img src="{{this.image}}" class="rounded m-2" width="90" alt="it is a photo for restaurant {{this.name}}" />
        </a>
        {{/each}}
      </div>
      {{/if}}
    </div>
  </div>
</div>